/* header */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
position: fixed;
width: 100%;
z-index: 2;
}

.navbar{
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 20px;
  }
.nav-links li{
  position: relative;
}
.nav-links a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px;
  transition: 0.3s;
}
.nav-links a:hover{
color: white;
  background-color: #ff7700;
  border-radius: 5px;
}
.dropdown-content{
  display:none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  top: 30px;
  left: 0px;
  box-shadow: 0px 4px 8px rgb(0,0,0,0.2);
  border-radius: 5px;
}
.dropdown-content a{
display: block;
color: black;
padding: 10px 15px;
transition: 0.3s;
text-decoration: none;
cursor: pointer;
}
.dropdown-content:hover{
  background-color: white;
  color: #ff7700;

}
.nav-links li:hover .dropdown-content{
  display: block;
  color: #ff7700;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 33px;
  font-size: 4.2rem;
  font-weight: 900;
}
.icon-logo{
  font-size: 18px;
  font-weight: 700px;
}
.login-cart{
  list-style: none;
  display: flex;
  gap: 20px;
}
li{
  list-style: none;
}
.login-cart a{
text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px;
  transition: 0.3s;
}
.login-cart a:hover{
color: #ccc;
  background-color: #ff7700;
  border-radius: 5px;
   
}
span{
  color: skyblue;
}

.slide{
  height: 64px;
  width: 180px;
  position: absolute;
  background-color: #f2f2f2;
  transition: 0.5s ease;
  transform: translateX(-180px);
  background-color: #333;
}
.slide h1{
  color: skyblue;
  font-weight: 800;
  text-align: right;
  padding: 10px 0px;
  padding-right: 30px;
  pointer-events: none;
}
.slide ul{
  background-color: #333;
}
.slide ul li{
  list-style: none;
}
ul li a{
  color: white;
  font-weight: 500;
  padding: 22px 0px;
  display: block;
  height: 100pxx;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
ul li :hover a{
  color: #fff;
  background-color: #333;
}
.slide ul li a i{
  width:  40px;
  text-align: center;
}
input{
  /* display: none; */
  /* visibility: hidden; */
  -webkit-appearance: none;
}
.toggle{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 36px;
  left: 15px;
  z-index: 1;
  cursor: pointer;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.toggle .common{
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #8000ff;
  border-radius: 50px;
  transition: 0.3s ease;
}
.toggle .top-line{
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.toggle .middle-line{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.toggle .bottom-line{
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
}
input:checked ~ .toggle .top-line{
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
}
input:checked ~ .toggle .middle-line{
  opacity: 0;
  transform: translateX(20px);
}
input:checked ~ .toggle .bottom-line{
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);

}
input:checked ~ .slide{
transform: translateX(0);
box-shadow: 0 0 15px rgba(0,0,0,0.5) ;
}



.section{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: cornsilk;
    padding: 49px 63px;

}
.hp0-sectoin{
    background-image: url(abiut-image1.jpg);
    background-size: cover;
    height: 303px;
    width: 100%;
   border-radius: 15px;
}
.hp-section{
    padding: 20px;
    
}

.hp-section h2{
    margin-bottom: 3rem;
    font-size: 2.2rem;
    letter-spacing: 10px;

}
.hp-section p{
    margin-top: 2rem;
    font-size: 1.2rem;
}

.hp1-sectoin{
    background-image: url(abiut-image-2.jpg);
    background-size: cover;
    height: 303px;
    width: 100%;
   border-radius: 15px;
}

/* Offer-customer */
.Offer-customer{
    padding:1.1rem 6rem;
    background-color: cornsilk ;
    height: 70vh;
    width: 100%;
    border: 2px solid rgb(235, 230, 205) ;
    border-radius:15px ;
    animation: Ahadcss 3s ease-in alternate-reverse;
}
@keyframes Ahadcss {
    from{

    }
    to{
        transform: translate(160px);
    }
    
}

.heading-div h1{
    font-size: 2.1rem;
    font-weight: 700; 
}
.heading-div p{
    padding-top: 20px;
}

.offer1-customer{
    padding-left: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.our-believe{
    width: 142px;
    height: 100px;
    margin-left: 20px;
}
.our-believe p{
    margin-top:  0.4rem;
}
.Styling-design{
    width: 142px;
    height: 100px;
}
.Styling-design p{
    margin-top: 0.4rem;
}
.memeber-discount{
    width: 167px;
    height: 100px;
}
.memeber-discount p{
    margin-top: 0.4rem;
}
.our-believe i{
    font-size: 2.2rem;
}
.Styling-design i{
    font-size: 2.2rem;
}

.memeber-discount i{
    font-size: 2.2rem;
}
.our-believe h4{
    font-size: 1.2rem;
}
.Styling-design h4{
    font-size: 1.2rem;
}

.memeber-discount h4{
    font-size: 1.2rem;
}
.hp2-sectoin{
    background-image: url(abiut-image3.jpg);
    background-size: cover;
    height: 303px;
    width: 100%;
   border-radius: 15px;
}
/* footer */
footer {
    background-color: #111;
    color: #ddd;
    font-family: 'Segoe UI', sans-serif;
  }
  /*  */
  /* @media (max-width: 767px) {
    footer .row > div {
      margin-bottom: 30px;
      text-align: center;
    }
  }  */
  .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 145px;
  }
  .container-1{
    text-align: center;
    text-decoration: dashed;
    width: 303px;
    height: 100px;
    border-right: 2px solid white;
    padding-right: 20px;
   
  }
  .margin-bottom{
    margin-bottom: 13px;
    font-size: 20px;
  }
  .paragraph{
  margin-bottom: 20px;
  }
  .list-unstyled li a{
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
    
  }
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-unstyled li{
    list-style-type: none;
    margin-bottom: 5px;
  }
  .margin-bottom-1{
    margin-bottom: 13px;
    font-size: 20px;
    margin-left: 20px;
  }
  .margin-bottom-2{
    margin-left: 20px;
  }
  .margin-bottom-3{
    margin-left: 20px;
  }
  .margin-bottom-4{
    margin-left: 20px;
  }
  .text-center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
  }
  a{
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover{
    color: #ff6347;
  
  }
/* slidebar */
body{
    background-color: #f2f2f2;
  }
  .slide{
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #f2f2f2;
    transition: 0.5s ease;
    transform: translateX(-180px);
  }
  .slide h1{
    color: #8000ff;
    font-weight: 800;
    text-align: right;
    padding: 0px 0px;
    padding-right: 30px;
    pointer-events: none;
  }
  .slide ul li{
    list-style: none;
  }
  .slide li a{
    background-color: black;
    z-index: 2;
    color: white;
    font-weight: 500;
    padding: 15px 0px;
    display: block;
    height: 150dpx;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    
  }
  .slide li :hover a{
    color: #fff;
    background-color: #8000ff;
  }
  .slide ul li a i{
    width:  40px;
    text-align: center;
  }
  input{
    /* display: none; */
    /* visibility: hidden; */
    -webkit-appearance: none;
  
  }
  .toggle{
    margin-top: 12px;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  .toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #8000ff;
    border-radius: 50px;
    transition: 0.3s ease;
  }
  .toggle .top-line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .toggle .middle-line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .toggle .bottom-line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  input:checked ~ .toggle .top-line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
  }
  input:checked ~ .toggle .middle-line{
    opacity: 0;
    transform: translateX(20px);
  }
  input:checked ~ .toggle .bottom-line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
  
  }
  input:checked ~ .slide{
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0,0,0,0.5) ;
  }
  
/* contact us */


.map-google{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  flex-direction: column;
}

.map-google  h1{
text-align: center;
background-color: #bbafafa8;
height: 200px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}


/* contact-us */
.contact-us{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 100%;
  background-color: #333;
  padding-top: 30px;
}
.form-contact{
  height: 50%;
  width: 50%;
}
.form-contact .send-us{
  height: 60px;
  width: 60%;
  border-radius: 15px;
 font-size: 1.4em;
 margin-bottom: 10px;
 padding-left: 10px;
   
}
.form-contact p{
  font-size: 1.1rem;
  color: white;
  text-align: justify;
}
.form-contact label{
  font-size: 1.3rem;
  color: white;

}
.form-contact #name-form{
  width: 40%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 3px;
  padding-left: 10px;
}
.form-contact #Email-form{
  width: 40%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 3px; 
  padding-left: 10px;
}
.form-contact #phone-form{
  width: 40%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 3px; 
  padding-left: 10px;
}
.form-contact textarea{
  height: 100px;
  width: 300px;

}
.form-contact #Btn-form{
  width: 100px;
  height: 40px;
  border-radius: 15px;
  background-color: #ff7700;
  color: white;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
#Btn-form:hover{
  background-color:  white;
  color: black;
}

/* loaction */
.location{
  height: 100%;
}
.location h4{
  font-size: 1.6rem;
  color: white;
  padding-top: 10px;
 }
 .location .white{
  padding-left: 22px;
  font-weight: 500;
 }
 .location .icon{
  margin-top: 20px;
  font-size: 1.2rem;
 }
 .location i{
  color: black;
 }
 